PYTHONUNBUFFERED=1
BITBUCKET_PASSWORD=
BITBUCKET_USERNAME=
DATABASE_DIR=db
MAIN_BRANCH_ONLY=False
DB_SILENT=true
REQUEST_PAGE_SIZE=50
IGNORED_REPOS=repo_a,repo_b,repo_c
BRANCH_PAGE_LIMIT=1
COMMIT_PAGE_LIMIT=1